<!DOCTYPE html>
<html>
    <head>
        <title>Hangman</title>
    </head>
    <body>
        <h1>Let's Hang Out! Wanna Play Hangman?</h1>
        <form action = "/begin">
            <button type="submit">Play!</button>
        </form>
    </body>
</html>
